{% extends "base.html" %}

{% block content %}
  <h1>{{advertisement}}</h1>
  <ul>
    <li>Property type: {{advertisement.property}}</li>
    <li>Price: {{advertisement.price}}$</li>
    <li>Total area: {{advertisement.total_area}} m2</li>
    <li>Description: {{advertisement.description}}</li>
    <li>Sold: {{advertisement.sold}}</li>
    <li>Realtors working:</li>
    <ul>
      {% for realtor in advertisement.realtors.all %}
        <li><a href="{% url 'advertisement:realtor-detail' pk=realtor.id %}">{{realtor.username}}</a></li>
      {% endfor %}
    </ul>

  </ul>
  <a class="btn btn-secondary" href="{% url 'advertisement:advertisement-update' pk=advertisement.id %}">Update</a>
  <a class="btn btn-danger" href="{% url 'advertisement:advertisement-delete' pk=advertisement.id %}">Delete</a>
{% endblock %}