{% extends "base.html" %}

{% block content %}
  <h1>{{advertisement}}</h1>
  <ul>
    <li>Property type: {{advertisement.property}}</li>
    <li>Price: {{advertisement.price}}$</li>
    <li>Total area: {{advertisement.total_area}}</li>
    <li>Description: {{advertisement.description}}</li>
    <li>Sold: {{advertisement.sold}}</li>
    <li>Realtors working:</li>
    <ul>
      {% for realtor in advertisement.realtors.all %}
        <li>{{realtor.username}}</li>
      {% endfor %}
    </ul>


  </ul>
{% endblock %}