{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container marketing">
  <div class="realdeal">
    <h1>RealDeal Realtor Agency</h1>
    <p>Are you looking to buy apartment, house or land? RealDeal will definitely help you with that! We are more than 15 years on the market!</p>
  </div>
    <div class="row">

      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'images/realtor_general.png' %}" alt="Generic placeholder image" width="200" height="200">
        <h2>{{ num_of_realtors }}+ Realtors</h2>
        <p>Experienced realtors</p>
        <p><a class="btn btn-secondary" href="{% url 'advertisement:realtor-list' %}" role="button">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'images/advertisement_general.png' %}" alt="Generic placeholder image" width="200" height="200">
        <h2>{{ num_of_advertisements }}+ Advertisements</h2>
        <p>Advertisements of different kind</p>
        <p><a class="btn btn-secondary" href="{% url 'advertisement:advertisement-list' %}" role="button">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="{% static 'images/property_general.png' %}" alt="Generic placeholder image" width="200" height="200">
        <h2>{{ num_of_cities }} Cities</h2>
        <p>Having advertisements in different cities</p>
      </div>

      <hr class="featurette-divider">

      <div class="realdeal">
        <h1>Why to choose Realdeal?</h1>
        <p>We operate all over the Ukraine, helping customers every day to buy and sell their houses and apartments. A successful outcome is the result of commitment, attentiveness and a firm focus on every customer’s individual wishes. By upholding these values and maintaining a focus on providing every customer with personal and reliable service, we know that we can give you a first-class experience from start to finish.</p>
      </div>
    </div>
  </div>

{% endblock %}
