{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-success">
    <a class="btn btn-secondary" href="{% url 'advertisement:realtor-list' %}">Reset</a>
  </form>

  <br>

  <h1 style="text-align: center">Meet our team:</h1>

  <br>

  {% if realtor_list %}
  <div class="row realtor">
    {% for realtor in realtor_list %}

    <div class="column">
      <div class="card">
        <div class="container-realtor">

          <h2>{{ realtor.first_name }} {{ realtor.last_name }}</h2>
          <p>Years of experience: {% if realtor.years_of_experience %} {{ realtor.years_of_experience }}+{% else %} Unknown {% endif %}</p>
          <p>e-mail: {{ realtor.email }}</p>
          <p>Phone number: {% if realtor.phone_number %} +380{{ realtor.phone_number }}{% else %} Unknown {% endif %}</p>
          <p><a href="{% url 'advertisement:realtor-detail' pk=realtor.id %}"><button class="button">View detail</button></a></p>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>There are no realtors in the system yet!</p>
  {% endif %}
  <br>
  <a class="btn btn-primary" href="{% url 'advertisement:realtor-create' %}">Create new realtor</a>
{% endblock %}
